<a
  href="https://ko-fi.com/mrnizzy"
  class="support"
  target="_blank"
  matTooltip="Ko-fi: MrNizzy, ¡Invítame un café!"
  matTooltipPosition="above"
>
  <img src="support_me_on_kofi_dark.png" alt="Ko-fi: MrNizzy" width="320" />
</a>
<section class="social__list">
  <!-- Github -->
  <a
    href="https://github.com/MrNizzy"
    class="social"
    target="_blank"
    matTooltip="GitHub: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="github.svg" alt="GitHub: MrNizzy" width="25" height="25" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/mrnizzy/"
    class="social"
    target="_blank"
    matTooltip="LinkedIn: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="linkedin.svg" alt="MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- Instagram -->
  <a
    href="https://instagram.com/mr.nizzy"
    class="social"
    target="_blank"
    matTooltip="Instagram: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="instagram.svg" alt="Instagram: MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- YouTube -->
  <a
    href="https://www.youtube.com/@MrNizzy"
    class="social"
    target="_blank"
    matTooltip="YouTube: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="youtube.svg" alt="YouTube: MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- Github: Código fuente -->
  <a
    href="https://github.com/MrNizzy/promediar-angular"
    class="social"
    target="_blank"
    matTooltip="Código fuente: Promediar"
    matTooltipPosition="below"
  >
    <img src="code.svg" alt="Código fuente: Promediar" width="25" height="25" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
</section>
