<h2 class="subtitle">
  <img
    src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Grinning%20Cat.png"
    alt="Grinning Cat"
    width="25"
    height="25"
  />
  <img
    src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Food/Hot%20Beverage.png"
    alt="Hot Beverage"
    width="25"
    height="25"
  />
  <span> Invítame un café o <strong class="highlight">sígueme</strong> </span>
  <img
    src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Smiling%20Face.png"
    alt="Smiling Face"
    width="25"
    height="25"
  />
  <img
    src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Backhand%20Index%20Pointing%20Down%20Light%20Skin%20Tone.png"
    alt="Backhand Index Pointing Down Light Skin Tone"
    width="32"
    height="32"
  />
</h2>

<section class="social__list">
  <!-- Ko-fi -->
  <a
    href="https://ko-fi.com/mrnizzy"
    class="social"
    target="_blank"
    matTooltip="Ko-fi: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="kofi_symbol.svg" alt="Ko-fi: MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- Github -->
  <a
    href="https://github.com/MrNizzy"
    class="social"
    target="_blank"
    matTooltip="GitHub: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="github.svg" alt="GitHub: MrNizzy" width="25" height="25" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/mrnizzy/"
    class="social"
    target="_blank"
    matTooltip="LinkedIn: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="linkedin.svg" alt="MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- Instagram -->
  <a
    href="https://instagram.com/mr.nizzy"
    class="social"
    target="_blank"
    matTooltip="Instagram: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="instagram.svg" alt="Instagram: MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- YouTube -->
  <a
    href="https://www.youtube.com/@MrNizzy"
    class="social"
    target="_blank"
    matTooltip="YouTube: MrNizzy"
    matTooltipPosition="below"
  >
    <img src="youtube.svg" alt="YouTube: MrNizzy" width="32" height="32" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
  <!-- Github: Código fuente -->
  <a
    href="https://github.com/MrNizzy/promediar-angular"
    class="social"
    target="_blank"
    matTooltip="Código fuente: Promediar"
    matTooltipPosition="below"
  >
    <img src="code.svg" alt="Código fuente: Promediar" width="25" height="25" />
    <img
      src="external_link.svg"
      alt="Arrow: External"
      width="12"
      height="12"
      class="external__link"
    />
  </a>
</section>
