@if (!isSmallScreen()) {
<button
  mat-fab
  extended
  class="config"
  matTooltip="Configuración de notas"
  matTooltipPosition="left"
  (click)="toggleConfig()"
  aria-label="Configuración"
>
  <mat-icon>settings</mat-icon>
  <span i18n>Configuración</span>
  <span class="key" matTooltip="Atajo de teclado: I" matTooltipPosition="right">
    I
  </span>
</button>
} @else {
<button
  mat-fab
  class="config"
  matTooltip="Configuración de notas"
  matTooltipPosition="left"
  (click)="toggleConfig()"
  aria-label="Configuración"
  i18n-aria-label
  i18n-matTooltip
>
  <mat-icon>settings</mat-icon>
</button>
}
