/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./themes/default.theme.scss" as default-theme;
@use "./themes/toastr.scss";

@include mat.elevation-classes();
@include mat.app-background();

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../public/fonts/BaiJamjuree-Regular.woff2") format("truetype"),
    format("woff2");
  font-display: swap;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: default-theme.$tertiary-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  min-height: 100dvh;
}
body {
  background: linear-gradient(
    125deg,
    var(--mat-sys-surface-container),
    var(--mat-sys-surface)
  );
  margin: 0;
}

* {
  font-family: "Bai Jamjuree", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.key {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  min-width: 1rem;
  background-color: var(--mat-sys-on-primary-fixed);
  color: var(--mat-sys-primary-fixed-dim);
  text-align: left;
  user-select: none;
  font-family: monospace;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}

.key-description {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: monospace;
  line-height: 1.2;
  margin: 0;
}

.key-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.mdc-button:focus,
a:focus {
  outline: none;
}

.mdc-button:focus {
  outline: 2px solid var(--mat-sys-primary);
}

a:focus {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  text-decoration: none;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: var(--mat-sys-primary-container);
    background-color: var(--mat-sys-on-background);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    @include mat.theme(
      (
        color: default-theme.$primary-palette,
        typography: Roboto,
        density: 0,
      )
    );
  }
}
