$color-red: #ff7979;
$color-red-accent: #ff4d4d;
$color-green: #8bf8c2;
$color-green-accent: #4fffc2;
$color-blue: #4f93f9;
$color-blue-accent: #5e9dfc;

.card {
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;

  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}

.card__notes {
  display: grid;
  gap: 1rem;
  .note {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .note-row {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.button--add {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: $color-green;
  color: #000;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: $color-green-accent;
  }
}

.button--submit {
  background-color: $color-blue;
  &:hover {
    background-color: $color-blue-accent;
  }
}

.button--delete {
  background-color: $color-red;
  &:hover {
    background-color: $color-red-accent;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 1rem;
    width: 90%;
  }
}
