.card {
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background: var(--mat-sys-surface);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;

  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 4px;
  }
}

.card__notes {
  display: grid;
  gap: 1rem;
  .note {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .note-row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      align-items: center;
      gap: 1rem;
    }
  }
}

.note__reset {
  background-color: var(--mat-sys-secondary-container);
}

.note__delete {
  background-color: var(--mat-sys-error-container);
}

.button--add {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--mat-sys-primary-container);
  color: #000;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--mat-sys-primary-container);
  }
}

.button--submit {
  background-color: var(--mat-sys-secondary-container);
  &:hover {
    background-color: var(--mat-sys-on-secondary-container);
  }
}

.button--delete {
  color: var(--mat-sys-error);
  background-color: var(--mat-sys-error-container);
}

.button-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 1rem;
    width: 90%;
  }
  .button-group {
    grid-template-columns: 1fr;
  }
}
