<section class="card">
  <form [formGroup]="form" class="card__notes">
    <h4>
      <span>
        Notas actuales a promediar:
        {{ form.controls["notes"].length }}
      </span>
    </h4>
    <div
      class="note"
      formArrayName="notes"
      (keydown.-)="removeLastNote()"
      (keydown.r)="reset()"
    >
      @for (note of notes.controls; track note; let i = $index) {
      <div class="note-row" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Calificación</mat-label>
          <input
            matInput
            type="number"
            formControlName="note"
            autocomplete="off"
          />
          <mat-icon matPrefix>star</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Porcentaje</mat-label>
          <input
            matInput
            type="number"
            formControlName="percentage"
            autocomplete="off"
          />
          <mat-icon matPrefix>percent</mat-icon>
        </mat-form-field>
        @if (i !== 0) {
        <button
          mat-mini-fab
          class="note__delete"
          type="button"
          matTooltip="Eliminar nota"
          matTooltipPosition="right"
          (click)="removeNote(i)"
          aria-label="Eliminar nota"
        >
          <mat-icon>delete</mat-icon>
        </button>
        } @else {
        <button
          mat-mini-fab
          class="note__reset"
          type="button"
          matTooltip="Reiniciar notas"
          matTooltipPosition="right"
          (click)="reset()"
          aria-label="Reiniciar notas"
        >
          <mat-icon> refresh </mat-icon>
        </button>
        }
      </div>

      }
    </div>

    <button
      mat-raised-button
      color="secondary"
      (click)="addNote()"
      (keydown.+)="addNote()"
      type="button"
      aria-label="Agregar nota"
    >
      <mat-icon>add</mat-icon>
      <span>Adicionar nota</span>
    </button>

    <div class="button-group">
      <button
        mat-fab
        extended
        color="primary"
        (click)="calculateAverage()"
        (keydown.p)="calculateAverage()"
        type="submit"
        title="Calcular promedio"
      >
        <mat-icon>calculate</mat-icon>
        <span>Calcular promedio</span>
      </button>
      <app-download-image />
    </div>
  </form>

  <h2>
    Promedio acumulado: <strong>{{ average() }}</strong>
  </h2>
  @if (average() >= passingGrade()) {
  <p><strong>¡Felicidades!</strong> Has aprobado el curso.</p>
  } @else if (average() > 0) {
  <p>
    <strong>Nota mínima</strong> para aprobar: {{ minimumNote() }} en el
    {{ restPercentage() * 100 }}% restante.
  </p>
  }
</section>
